@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}


/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 11px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #082E38;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #07617a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0E576C;
}


.td.no-border {
  border-bottom: none;
}

.btn-container {
  text-align: center;
}
.container {
        max-width: 1360px;
        margin: 0 auto;
        padding: 20px;
        border: 2px solid #ccc;
        font-size: 16px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
p {
    line-height: 1.5;
    margin-bottom: 10px;
    color: white;
}


table {
  text-align: center;  
  align-items: center;  
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  max-width: 1000px;
  margin: auto;
  border-collapse: collapse;
  overflow-x: auto;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .container {
      max-width: 90%;
      font-size: 14px;
  }
 
}


@media only screen and (max-width: 1080px) {
  /* on larger screens, limit the table width to 80% of the container */
  table {
    max-width: 60%;
    margin: 20px auto;
  }
  .th{
    font-size: 16px;
  }
  .td{
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  /* on larger screens, limit the table width to 80% of the container */
  table {
    max-width: 60%;
    margin: 20px auto;
  }
  .th{
    font-size: 10px;
  }
  .td{
    font-size: 10px;
  }
}

@media only screen and (max-width: 558px) {
  /* on larger screens, limit the table width to 80% of the container */
  table {
    max-width: 80%;
    margin: 20px auto;
  }
  th{
    font-size: 10px;
  }
  td{
    font-size: 10px;
  }

}


th {
  font-style: bold;
  color: black;
  padding: 10px;
}

td {
  border: 1px solid rgb(0, 0, 0);
  color: black;
  padding: 10px;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #e9edfb;
  color: #4a4b50;
  cursor: pointer;
  border-radius: .5rem;
  font-size: 1.7rem;
}

.btn:hover {
  color: #fff;
  background: #082E38;
}

.heading {
  background: #082E38;
  background-size: cover;
  background-position: center;
}

.heading h3 {
  font-size: 3.5rem;
  color: #302851;
}

.heading p {
  font-size: 1.6rem;
  color: #666;
  padding-top: .5rem;
}

.heading p a {
  padding-right: .5rem;
  color: #fa1d86;
}

.heading p a:hover {
  color: #224bcf;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 9%;
  background: #101E22;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
}

.header .logo i {
  color: #fa1d86;
}

.header .navbar ul {
  list-style: none;
}

.header .navbar ul li {
  position: relative;
  float: left;
}

.header .navbar ul li:hover ul {
  display: block;
}

.header .navbar ul li a {
  padding: 2rem;
  display: block;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar ul li a:hover {
  background: #2599b9;
}

.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 20rem;
  background: #0E576C;
  display: none;
}

.header .navbar ul li ul li {
  width: 100%;
}

#menu-btn {
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
  display: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  background-color: #143E4A;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}



.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
          
}

.home .image img {
  width: 100%;
  
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
          
}

.home .content h3 {
  color: #e2dfec;
  font-size: 5rem;
}

.home .content p {
  font-size: 1.4rem;
  color: rgb(243, 243, 243);
  padding: 1rem 0;
  line-height: 2.5;
  font-size: 2rem;
}

.home1 {
  display: -webkit-box;
  display: -ms-flexbox;
  background-color: #143E4A;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}



.home1 .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
          
}

.home1 .image img {
  width: 100%;
  
}

.home1 .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
          
}

.home1 .content h3 {
  color: #e2dfec;
  font-size: 5rem;
}

.home1 .content p {
  font-size: 1.4rem;
  color: rgb(243, 243, 243);
  padding: 1rem 0;
  line-height: 2.5;
  font-size: 2rem;
}

.category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  background-color: #143E4A;
  font-weight: bold;
  height: 320px;
}

.category .box {
  border-radius: 1rem;
  background: #0E576C;
  padding: 4rem 3rem;
  text-align: center;
}

.category .box img {
  height: 11rem;
  margin-bottom: 2rem;
}

.category .box h3 {
  font-size: 1.7rem;
  color: #fafafa;
  
}

.category .box h4 {
  font-size: 1.7rem;
  color: #fafafa;
  font-weight: bold;
  
}

.category .box h4:hover {
  font-size: 24px ;
 
  
  
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  background-color: #143E4A;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .content h3 {
  color: #e2dfec;
  font-size: 5rem;
}

.about .content p {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: rgb(243, 243, 243);
  line-height: 2.5;
}

@media only screen and (max-width: 2080px) {
  .course-1 {
    display: -ms-grid;
    display: grid;
    background-color: #143E4A;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .course-2 {
    display: -ms-grid;
    display: grid;
    background-color: #143E4A;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .course-3 {
    display: -ms-grid;
    display: grid;
    background-color: #143E4A;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.course-1 {
  display: -ms-grid;
  display: grid;
  background-color: #143E4A;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
  
}

.course-1 .box {
  background: #0E576C;
  border-radius: 1rem;
  text-align: center;
  padding: 3rem 2rem;
}

.course-1 .box img {
  margin-bottom: 1rem;
  height: 8rem;
}

.course-1 .box h3 {
  font-size: 2rem;
  color: #f0eff1;
  padding: .5rem 0;
}

.course-1 .box p {
  font-size: 1.4rem;
  color: rgb(237, 234, 234);
  line-height: 2.5;
  padding: 1rem 0;
}

.course-2 {
  display: -ms-grid;
  display: grid;
  background-color: #143E4A;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.course-2 .box {
  padding: 2rem;
  border-radius: 1rem;
  background: #f5f5f5;
}

.course-2 .box .image {
  margin-bottom: 2rem;
  text-align: center;
}

.course-2 .box .image img {
  height: 22rem;
}

.course-2 .box .content span {
  font-size: 1.4rem;
  color: #fa1d86;
  background: #ffeaf4;
  padding: .5rem 1rem;
}

.course-2 .box .content h3 {
  color: #302851;
  line-height: 2;
  margin-top: 1.5rem;
  font-size: 2rem;
}

.course-2 .box .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2.5;
  padding: 1rem 0;
}

.course-2 .box .content .icons {
  margin-top: 2rem;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.course-2 .box .content .icons a {
  font-size: 1.4rem;
  color: #666;
}

.course-2 .box .content .icons a:hover {
  color: #fa1d86;
}

.course-2 .box .content .icons a i {
  padding-right: .5rem;
  color: #7c7076;
}

.course-3 {
  display: -ms-grid;
  display: grid;
  background-color: #143E4A;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.course-3 .box {
  text-align: center;
  overflow: hidden;
}

.course-3 .box:hover .video video {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.course-3 .box .video {
  height: 25rem;
  width: 100%;
  overflow: hidden;
  border-radius: .5rem;
  position: relative;
}

.course-3 .box .video video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.course-3 .box .video i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  background: #fff;
  color: #302851;
  pointer-events: none;
  z-index: 10;
}

.course-3 .box .content {
  padding-top: 1rem;
}

.course-3 .box .content h3 {
  font-size: 1.7rem;
  color: #302851;
  padding: .5rem 0;
}

.course-3 .box .content p {
  font-size: 1.5rem;
  color: #666;
}

.main-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  display: none;
}

.main-video.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-video #close-vid {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 6rem;
  color: #fff;
  cursor: pointer;
}

.main-video video {
  width: 80%;
  border: 0.5rem solid #fff;
  border-radius: .5rem;
}

.teachers {
  display: -ms-grid;
  display: grid;
  background-color: #143E4A;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.teachers .box {
  text-align: center;
  overflow: hidden;
}

.teachers .box:hover .image .share {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.teachers .box:hover .image .share a {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  opacity: 1;
  -webkit-transition: -webkit-transform .2s .2s;
  transition: -webkit-transform .2s .2s;
  transition: transform .2s .2s;
  transition: transform .2s .2s, -webkit-transform .2s .2s;
}

.teachers .box .image {
  overflow: hidden;
  height: 32rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
}

.teachers .box .image .share {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  overflow: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.teachers .box .image .share a {
  font-size: 2.5rem;
  margin: 2rem 1.5rem;
  color: rgb(167, 163, 199);
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  opacity: 0;
}

.teachers .box .image .share a:hover {
  color: #f3f0f1;
}

.teachers .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.teachers .box .content {
  padding-top: 1rem;
}

.teachers .box .content h3 {
  font-size: 2rem;
  color: #f3f2f7;
}

.teachers .box .content span {
  color: rgb(204, 204, 209);
  font-size: 1.5rem;
}

.blog {
  display: -ms-grid;
  display: grid;
  background-color: #143E4A;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.blog .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.blog .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
}

.blog .box .content {
  padding: 2rem;
  background: #0E576C;
}

.blog .box .content .icons {
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .box .content .icons a {
  font-size: 1.4rem;
  color: rgb(201, 200, 200);
}

.blog .box .content .icons a:hover {
  color: #2d3346;
}

.blog .box .content .icons a i {
  padding-right: .5rem;
  color: #a2a3a7;
}

.blog .box .content h3 {
  font-size: 1.7rem;
  padding: .5rem 0;
  color: #ededf0;
}

.blog .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 2.5;
  color: rgb(201, 198, 198);
}


.contact .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.contact .icons-container .icons {
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  background: #f5f5f5;
  margin-bottom: 2rem;
}

.contact .icons-container .icons i {
  height: 6.5rem;
  width: 6.5rem;
  line-height: 6.5rem;
  font-size: 2.5rem;
  color: #224bcf;
  background: #e9edfb;
  border-radius: 50%;
  text-align: center;
  margin-bottom: .5rem;
}

.contact .icons-container .icons h3 {
  font-size: 2rem;
  color: #302851;
  padding: .7rem 0;
}

.contact .icons-container .icons p {
  line-height: 2;
  font-size: 1.4rem;
  color: #666;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  border-radius: 1rem;
  background: #f5f5f5;
  padding: 2rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
  color: rgb(16, 16, 19);
}

.contact .row form .box, .contact .row form textarea {
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #666;
  text-transform: none;
  margin: 1rem 0;
  border-radius: .5rem;
  background: #fff;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.contact .row .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  width: 100%;
  border-radius: 1rem;
}

.footer {
  background: #101E22;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: #e6e5e9;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  padding: 1rem 0;
  color: rgb(199, 194, 194);
}

.footer .box-container .box a:hover {
  color: #143E4A;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  color: #fcfcfc;
  padding-right: .5rem;
}

.footer .credit {
  text-align: center;
  margin-top: 1rem;
  padding: 0rem;
  padding-top: 2rem;
  font-size: 12px;
  color: rgb(226, 216, 216);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}



.footer .credit span {
  color: #fa1d86;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header {
    padding: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #101E22;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar ul li {
    width: 100%;
  }
 
  .header .navbar ul li ul {
    width: 100%;
    position: relative;
  }
  .about .content h3 {
    font-size: 3rem;
  }
  .main-video video {
    width: 95%;
    border-width: .2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */

.navbar .search-container {
  float: left;
  position: sticky;
  margin-top: 2px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.navbar .search-container1 {
  float: right;
  position: sticky;
  margin-top: -60px;
  margin-left: 400px;
  padding-bottom: 20px;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;

}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 5px;
  margin-right: 10px;
  background: rgb(255, 255, 255);
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}

.navbar .search-container1 button {
  float: right;
  padding: 6px 10px;
  
  margin-top: 8px;
  margin-right: 16px;
  background: rgb(255, 255, 255);
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}

.navbar .search-container button:hover {
  background: rgb(255, 255, 255);
}


.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
 
}
.search-box input {
  padding: 5px;
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 3px solid #ffffff;
  font-size: 16px;
  
}
.search-box button {
  padding: 15px 0;
  width: 25%;
  background-color: #ffffff;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
}
.result {
  position:relative ;
  margin-left: 0px;
  

}
.result h4 {
  
  color: #dfdee7;
  font-size: 50px;
  text-transform: lowercase;
}
.result .word {
  display: flex;
  justify-content: space-between;
  text-transform: lowercase;
  
  
}
.result button {
  background-color: transparent;
  color: #faf8f8;
  border: none;
  outline: none;
  font-size: 18px;
  margin-left:10px
}
.result button:hover {
  opacity: 50%;
}
.result .details  {
  display: align;
  gap: 10px;
  color: #ffffff;
  margin: 5px 0 2px 0;
  font-size: 14px;
  text-transform: lowercase;
}
.word-meaning {
  color: #ffffff;
  font-size: 19px;
  text-transform: lowercase;
}
.word-example {
  color: #ffffff;
  font-style: italic;
  border-left: 3px solid #101e22;
  padding-left: 14px;
  margin-top: 22px;
  font-size: 17px;
  text-transform: lowercase;
}
.error{
  margin-left:100px;
}

/** Quiz **/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
 
section {
    padding: 3rem 9%;
}

main{
    background-color: #143E4A;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.game-quiz-container{
    width: 55rem;
    height: 50rem;
    background-color: #0E576C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;

}

.game-details-container{
    width: 80%;
    height: 4rem;
    display: flex;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;
}

.game-details-container h1{
    font-size: 1.6rem;
}

.game-question-container{
    width: 80%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 25px;
}

.game-question-container h1{
    font-size: 1.5rem; 
    color: #ffffff;
    text-align: center;
    padding: 3px;
}

.game-options-container{
    width: 80%;
    height: 14rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.game-options-container span{
    width: 45%;
    height: 5rem;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}
span label{
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    color: #ffffff;
}

span label:hover{
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

input[type="radio"] {
    position: relative;
    display: none;
}


input[type=radio]:checked ~ .option {
    background: #143E4A;
}

.next-button-container{
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}
.next-button-container button{
    width: 12rem;
    height: 4rem;
    border-radius: 10px;
    background: none;
    color: white;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
    outline: none;
}
.next-button-container button:hover{
    background-color: #143E4A;
}

.modal-container{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container{
    height: 38rem;
    width: 33rem;
    background-color: #0E576C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.modal-content-container h1{
    font-size: 1.8rem;
    height: 5rem;
    color: lightgray;
    text-align: center;
}

.grade-details{
    width: 25rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p{
    font-size: 1.8rem;
    color: white;
    text-align: center;
}

.modal-button-container{
  padding-bottom: 10px;
  padding-top: 16px;  
  height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-container button{
    width: 10rem;
    height: 4rem;
    background: none;
    outline: none;
    border: 1px solid rgb(252, 242, 241);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
}
.modal-button-container button:hover{
    background-color: rgb(83, 82, 82);
}

/* Add these styles for desktop screens */
.search-container {
  display: inline-block;
  position: relative;
}

#inp-word {
  width: 250px;
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
}

#search-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #555;
  font-size: 20px;
  cursor: pointer;
}


/* Add these styles for mobile screens */


@media only screen and (max-width: 767px) {
  .search-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .search-form input[type="text"] {
    margin-left: 10px;
  }
}

@media(min-width : 300px) and (max-width : 350px){
    .game-quiz-container{
        width: 90%;
        height: 80vh;
     }
     .game-details-container h1{
        font-size: 0.8rem;
     }

     .game-question-container{
        height: 6rem;
     }
     .game-question-container h1{
       font-size: 0.9rem;
    }

    .game-options-container span{
        width: 90%;
        height: 2.5rem;
    }
    .game-options-container span label{
        font-size: 0.8rem;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }

    .modal-content-container h1{
        font-size: 1.2rem;
    }
}

@media(min-width : 350px) and (max-width : 700px){
   .game-quiz-container{
       width: 90%;
       height: 80vh;
    }
    .game-details-container h1{
        font-size: 1rem;
    }

    .game-question-container{
        height: 8rem;
    }

    .game-question-container h1{
        font-size: 0.9rem;
     }

    .game-options-container span{
        width: 90%;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  